{# app/Resources/views/Emails/registration.html.twig #}
<h3>Cześć {{ name }}!</h3>


<hr>
Poniższy link, będzie aktywny przez 24 godziny!
Wchodząc w niego możesz dokonać zmiany obecnego hasła.
<br>
<a href="{{ url('changePassword', {'userId' : userId, 'hash' : uniqueHashForUser }) }}">{{ url('changePassword', {'userId' : userId, 'hash' : uniqueHashForUser }) }}</a>
<br><br>

Pozdrawiamy,
AffiliationsTOOlS!
