{# app/Resources/views/Emails/userBoughtProduct.html.twig #}
<h3>Cześć {{ name }}!</h3>

<hr>
<h3>Dziękujemy za zakupy!</h3>
<br>
<p>
    Po akceptacji twojej płatności nasi pracownicy skontaktują się z Tobą, by
    pomóc ci w zamontowaniu naszego produktu na serwerze.
</p>

Pod linkiem poniżej po zalogowaniu się do sklepu, będziesz miał dostęp do faktur i zakupionych przez Ciebie produktów.
<br>
<a href="{{ url('history') }}">{{ url('history') }}</a>

<br><br>



Pozdrawiamy,
AffiliationsTOOlS!
