{% extends "BiznesServiceBundle:Default:index.html.twig" %}

{% block content %}
    Panel główny
    

    <h3>Wallet </h3>
    Money: {{ moneyInWallet }}
    
    <hr>
    
    {{ dump(wm) }}
    
{% endblock %}