{% extends "BiznesServiceBundle::base.html.twig" %}

{% set title = 'Twoje wątki' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Powiadomienia</h1>

            {% for note in notes %}
                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        <h3 class="ticket-title float-left">
                              Tytuł: {{ note.title }} 
                        </h3>
                    </div>
                    <div class="card-body">
                        <p class="ticket">
                            {{ note.text }} 
                        </p>
                        <hr>
                        <small class="text-muted">
                            Otrzymano: {{ note.dateNotification|date('Y-m-d H:m:s') }}
                        </small> 

                    </div>
                </div>

            {% endfor %}

        </div>
    </div> 
{% endblock %}
