{% extends "BiznesServiceBundle:Default:index.html.twig" %}

{% block content %}
    <div class="row">
        Strona rejestracji
        {{ form_start(register_form) }}
        {{ form_widget(register_form) }}
        {{ form_end(register_form) }}
    </div>
{% endblock %}