{% extends "BiznesShopBundle::base.html.twig" %}
{% set title = 'Koszyk' %}
{% block carousel %}

{% endblock %}


{% block container %}
    <div class="row">
    <hr>
    {{ dump(req) }}
    <hr>
    </div>
{% endblock %}
