{% extends "BiznesShopBundle::base.html.twig" %}
{% set title = 'Payment' %}


{% block container %}
    <div class="content">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>  
{% endblock %}
