{% extends "BiznesShopBundle::base.html.twig" %}
{% set title = 'Wynik rejestracji' %}

{% block header %}
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="display-3 text-center text-white mt-4 text-bordered">Informacja</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block container %}
    <div class="content">
        <div class="row">
            <div class="col">
                Pomyślnie zapisano twoje nowe dane! <a href="{{ path('personalDataShop') }}"> Powrót.</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-3 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
    </footer>
{% endblock %}