{% extends "BiznesShopBundle::base.html.twig" %}
{% set title = 'Wynik' %}
{% block carousel %}

{% endblock %}
{% block container %}
    <div class="row">
        Pomyślnie zapisano twoje nowe dane! <a href="{{ path('personalData_shop') }}"> Powrót.</a>
    </div>
{% endblock %}