{% extends "BiznesShopBundle::base.html.twig" %}
{% set title = 'Wynik' %}
{% block carousel %}

{% endblock %}
{% block container %}
    <div class="row">
        Strona wyniku, dodano dane personalne
    </div>
{% endblock %}