{% extends "BiznesShopBundle::base.html.twig" %}
{% set title = 'Zarejestrowano' %}
{% block carousel %}

{% endblock %}


{% block container %}
    <div class="row">
        Strona wyniku, stworzono konto
    </div>
{% endblock %}
