{% extends "BiznesShopBundle::base.html.twig" %}
{% set title = 'Zarejestrowano' %}
{% block carousel %}

{% endblock %}


{% block container %}
    <div class="content" style="">
        <div class="row text-center">
            <div class="col-md-12">
                <h4>
                    Pomyślnie zarejestrowałeś swoje konto!
                </h4>
                <br><br>
                    Wysłaliśmy na twój adres email wiadomość z linkiem aktywującym konto.
                
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-3 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
    </footer>
{% endblock %}
