{% extends "BiznesShopBundle::base.html.twig" %}
{% set title = 'Rejestracja' %}


{% block container %}
    <div class="content">
        <div class="row">
            <div class="col">
                {{ dump(boughtProducts) }}
            </div>
        </div>
    </div>  
{% endblock %}
