<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/biznesshop/css/bootstrap.min.css') }}" rel="stylesheet">
	
    <!-- Custom CSS -->
    <link href="{{ asset('bundles/biznesshop/css/simple-sidebar.css') }}" rel="stylesheet">


</head>

<body>
    <hr>
    Logowanie
    <form class="form" method="POST" action="http://127.0.0.1:8000/database/">
        <input type="text" name="login"></input>
        <input type="text" name="password"></input>
        <input type="submit"></input>
    </form>
    
    <hr>
    Rejestracja
    <form class="form" method="POST" action="http://127.0.0.1:8000/database/">
        <input type="text" name="login"></input>
        <input type="text" name="password"></input>
        <input type="submit"></input>
    </form>
    
    <hr>

    
    <!-- jQuery -->
    <script src="{{ asset('bundles/biznesshop/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/biznesshop/js/bootstrap.min.js') }}"></script>

</body>

</html>
